.item-card {
    width: 100px;
    margin: 2px;
    background-color: rgb(255, 245, 238, .8);
    border-radius: 5%;
}
.card-img {
    max-height: 100px;
    width: auto;
    margin: 3px auto auto auto;
}
.card-title {
    font-size: 11px;
}