.closet-item-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cloth-suggestions-dashboard{
    text-align: center;
    margin-top: 5%;
}

.dashboard-page-container{
    display: block;
    background: url('../../images/bagsOnVan.jpeg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.dashboard-page-container::after{
    /* content: "";
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  */
}