.trips-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.trips-title-trip{
    padding-top: 10px;
    text-align: center;
}

.trips-page{
    min-height: 1000px;
    background: url('../../images/tripsBackground1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 2%;
}
