.closet-page {
    text-align: center;
    background-image: url('../../images/closetBackground1.jpg');
}
.closet-items-container {
    padding-top: 8%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 20%;
    justify-content: center;
    padding-bottom: 6%;
    /* min-height: 2000px; */

}
.closet-container{
    background-image: url('../../images/closet.png');
    background-size: 100% 100%;
    min-height: 100vh;
}

.closet-title{
    color: navy;
}