.closet-item-container-trip-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    margin-top: 2%;
}

.trip-detail-whole-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/beachBackground.jpg');
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 2%;
}