.signin-box {
    margin: auto;
}

.home-page-container {

}
.home-page-container-big{
    background: url('../../images/homeBackground.png') center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.home-title{
    padding-bottom: '5%';
    color: rgb(255, 183, 89);
}