.signin-box {
    margin: auto;
}

.home-page-container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin: 3px;
}
.home-page-container-big{
    background: url('../../images/homeBackground.png') no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

.home-title{
    padding-bottom: '5%';
}