.LoginPage {
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 50px;
    width: 250px;
    height: 210px;
    border-radius: 5%;
    padding-top: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin:  auto;
    background-color:rgba(96, 221, 221, 0.4); 
  }

.header-footer-login {
    margin-bottom: 5%;
    align-self: auto;
}

.login-page-holder{
  padding-top: 2%;
  padding-bottom: 100%;
  background: url('../../images/homeBackground.png') center;
  background-size: cover;
}

.singin-buttons-holder{
    display: flex;
    justify-content: space-evenly;
    padding: 0 17px;
}