.LoginPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 200px;
    border-radius: 5%;
    padding-top: 10%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 5px auto;
    background-color:rgba(96, 221, 221, 0.75); 
  }

  .header-footer-login {
    margin-bottom: 5%;
  }